{% extends 'flatpages/default.html' %}

{% block title %}
Posts:
{% endblock title %}

{% block content %}
   <h1>Все посты:</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Первью:</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.heading }}</td>
               <td>{{ post.time_created }}</td>
               <td>{{ post.preview }}</td>
               <td>
                    {% if perms.simpleapp.update_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.simpleapp.delete_post %}
                    <a href="{% url 'post_delete' pk=post.id %}">Удалить</a>
                    {% endif %}
                </td>
           </tr>
           {% endfor %}

       </table>

        {% if page_obj.has_previous %}
               <a href="?page=1">1</a>
               {% if page_obj.previous_page_number != 1 %}
                   ...
                   <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
               {% endif %}
           {% endif %}

           {{ page_obj.number }}

           {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
               {% if paginator.num_pages != page_obj.next_page_number %}
                   ...
                   <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
               {% endif %}
           {% endif %}


   {% else %}
       <h2>Постов нет!</h2>
   {% endif %}
{% endblock content %}